# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
tst.py
*.py[cod]
*.so
*.egg
*.egg-info
build
*.xml
*.pyc

# My configurations:
db.ini
deploy_key_rsa
*logs

tests
*.idea
tmp/
.vscode/**
venv/**
__pycache__/**
/.svn
